<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

    <!--WHEEL MACRO-->
    <xacro:macro name="mpo_700_wheel" params="
        wheel_prefix 
        parent_link
        *origin
        wheel_joint_type 
        ixx 
        iyy 
        izz 
        has_limits
        model_scale
        ">

        <!--wheel joint-->
        <joint name="${wheel_prefix}_joint" type="${wheel_joint_type}">
            <xacro:insert_block name="origin"/>
            <xacro:if value="${has_limits}">
                <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="15"/>
            </xacro:if>
            <axis xyz="1 0 0"/>
            <parent link="${parent_link}_link"/>
            <child link="${wheel_prefix}_link"/>
        </joint>

        <!--wheel link-->
        <link name="${wheel_prefix}_link" type="wheel">
            <inertial>
                <mass value="${wheel_link_mass}"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-WHEEL.dae" scale="${model_scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-WHEEL.dae" scale="${model_scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

   </robot>
