<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

    <!-- Castor Wheel Properties -->
		<xacro:property name="castor_inertial_value" value="0.27258101" />
    <xacro:property name="castor_joint_type" value="fixed" />
    <xacro:property name="castor_link_mass" value="12.7" />
    <xacro:property name="castor_link_origin_rpy" value="0 0 0" />
    <xacro:property name="castor_link_inertial_origin_xyz" value="0 0 0" />
    <xacro:property name="castor_link_origin_xyz" value="0 0 0.10" />

    <!--CASTER WHEEL MACRO-->
    <xacro:macro name="caster_wheel" params="caster_prefix joint_origin_rpy joint_origin_xyz parent">

        <joint name="${caster_prefix}_joint" type="${castor_joint_type}">
            <origin rpy="${joint_origin_rpy}" xyz="${joint_origin_xyz}"/>
            <axis xyz="0 0 -1"/>
            <!-- <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="15"/> -->
            <joint_properties damping="1" friction="1"/>
            <parent link="${parent}"/>
            <child link="${caster_prefix}_link"/>
        </joint>

        <link name="${caster_prefix}_link">
            <inertial>
                <mass value="${castor_link_mass}"/>
                <origin rpy="${castor_link_origin_rpy}" xyz="${castor_link_inertial_origin_xyz}"/>
                <inertia ixx="${castor_inertial_value}" ixy="0" ixz="0" iyy="${castor_inertial_value}" iyz="0" izz="${castor_inertial_value}"/>
            </inertial>
            <visual>
                <origin rpy="${castor_link_origin_rpy}" xyz="${castor_link_origin_xyz}"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-HEAD.dae" scale="${model_scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="${castor_link_origin_rpy}" xyz="${castor_link_origin_xyz}"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-HEAD.dae" scale="${model_scale}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!-- Caster wheels -->
    <xacro:caster_wheel caster_prefix="mpo_700_caster_front_left" joint_origin_rpy="3.14 0 -1.57" joint_origin_xyz="0.24 0.18 0.27" parent="$(arg robot_prefix)_base_link"/>
    <xacro:caster_wheel caster_prefix="mpo_700_caster_front_right" joint_origin_rpy="3.14 0 1.57" joint_origin_xyz="-0.24 -0.18 0.27" parent="$(arg robot_prefix)_base_link"/>
    <xacro:caster_wheel caster_prefix="mpo_700_caster_back_left" joint_origin_rpy="3.14 0 1.57" joint_origin_xyz="0.24 -0.18 0.27" parent="$(arg robot_prefix)_base_link"/>
    <xacro:caster_wheel caster_prefix="mpo_700_caster_back_right" joint_origin_rpy="3.14 0 -1.57" joint_origin_xyz="-0.24 0.18 0.27" parent="$(arg robot_prefix)_base_link"/>

</robot>